<style type="text/css">
     A:link {text-decoration: none; color:#0033AA; font-family: 宋体;}
     A:visited {text-decoration: none; color: #0033AA; font-family: "宋体";}
     A:active {text-decoration: none; color: #0033AA: font-family:宋体;}
     A:hover {text-decoration: none;   color: #0033AA}
body{font-size=9pt;font-family: "宋体"; line-height: 13px}
table    {font-size: 9pt; line-height:13pt; font-family: "宋体";color: 000000}
.phead {font-size=14pt;font-family: "宋体"; line-height: 22px}

.style1 {color: #009933}
</style>
